@font-face {
	font-family: "Munro";
	src: url("./munro/Munro.ttf");
}

body {
	font-family: 'Munro';
}

button {
	font-family: 'Munro';
	font-size: 20px;
	width: 100px;
	height: 40px;

	color: white;
	border: none;
	background: none;

	outline:none;
}

#submitTask {
	position: absolute;
}

#validationInfo {
	position: absolute;
	width: 250px;
	/*height: 250px;*/

	background-color: rgba(0,0,0,.5);
	color: white;

	border: 1px solid white;


	padding: 50px;

	margin: auto;
	top: 0px;
	right: 0px;
}

#conVer {
	font-size: 50px;
}

#results {
	display: none;
	position: absolute;
	width: 500px;
	height: 500px;

	background-color: rgba(0,0,0,.5);
	color: white;
	border: 1px solid white;


	padding: 50px;

	margin: auto;
	left: -9999px;
	right: -9999px;
	top: -9999px;
	bottom: -9999px;
}

#results>div {
	margin-bottom: 50px;
}

#message {
	font-size: 30px;
}

#accuracy {
	font-size: 20px;
}

#accuracyValue {
	font-size: 28px;
}

#next {
	width: 250px;
	margin: auto;
	left: 0;
	right: 0;
}

ul {
	list-style-type: none;
	-webkit-padding-start: 10px;
}

li {
	margin-left: 0;
}

.colorBox {
	width: 10px;
	height: 10px;
	display: inline-block;
	margin-right: 10px;

}

.seed {
	background-color: blue;
}

.added {
	background-color: lightblue;
}

.agreed
{
	background-color: rgb(40, 205, 255);
}

.overcolor {
	background-color: green;
}

.undercolor {
	background-color: red;
}

.removed {
	background-color: rgb(50, 50, 50);
}
